<ul>
<% @trip.locations.each do |l| %>
  <li>
  <%= l.arrival_date %>
  <%= l.name %>
  <%= "(" + l.transports.map{|t| t.name}.join(", ") + ")" unless l.transports.count == 0%>
  </li>
<% end %>
</ul>

<%= link_to "Where next?", new_trip_location_path(@trip) %>
